* {
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
    font-size: 1.25em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
img{
    width: 50%;
}
table {
    border-collapse: collapse;
    margin: 20px;
  }

  th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    border-top: 4px double black;
    border-bottom: 4px double black;
  }

  tr {
    border-bottom: 2px double black;
  }